App {
  font-size: 15px;
  margin: 50px auto;
}
.WeatherForm {
  text-align: center;
  margin: 50px auto;
  max-width: 500px;
  border: 2px solid #dadde1;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2 rgb(0 0 0 /8%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.current {
  position: relative;
  left: 200px;
  top: -37px;
}
.currentCity {
  text-align: left;
  position: relative;
  left: 20px;
}
.currentExtra {
  position: relative;
  left: 120px;
  top: -50px;
}

.footer {
  text-align: center;
}
.searchForm {
  margin: 15px;
  width: 300px;
  position: relative;
  left: -50px;
}
.searchButton {
  position: relative;
  left: -40px;
}
